* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green-hover: #00453A;
    --green: #00856F;
    --green-light: #DCE9E2;
    --green-light2: #F7F9F9;
    --beige: #FFFAF1;
    --white: #EDEDED;
    --gray-headline: #212529;
    --gray-paragraph: #495057;
}

body {
    font-family: "DM Sans", sans-serif;

    h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.08em;
        color: var(--green);
        text-align: center;
        text-transform: uppercase;
        
        margin-top: 40px;
    }
    
    h4 {
        font-weight: 700;
        font-size: 34px;
        line-height: 130%;
        text-align: center;
        color: var(--gray-headline);

        margin-top: 16px;
    }
}